mixin filter-status(filterStatus)
    each item in filterStatus 
        button(
            class=`btn btn-sm ml-1 ${item.btclass} ${item.class}`
            button-status=item.status
        ) #{item.name}
        |&nbsp;